In [1]:
# Originalquelle der Daten: https://www.kaggle.com/orgesleka/used-cars-database

# Damit ihr euch dort aber nicht registrieren müsst, habe ich mich entschlossen,
# diese auf meinem eigenen Webspace zu hosten. 

import urllib3

url = "http://downloads.codingcoursestv.eu/035%20-%20machine%20learning/data/autos.csv.bz2"

http = urllib3.PoolManager()
download = http.urlopen("GET", url, preload_content = False)  
data = download.read()

with open('autos.csv.bz2', 'wb') as f:  
    f.write(data)

### Ziel: Wir möchten ein Modell entwickeln, welches für *gewöhnliche* Autos den Verkaufspreis schätzen kann

In [17]:
import pandas as pd

df = pd.read_csv("./autos.csv.bz2", encoding = "iso8859-1")

df = df.drop(["dateCrawled", "abtest", "dateCreated", "nrOfPictures", "lastSeen", "postalCode"], axis = 1)

In [3]:
print(len(df))

371528

In [4]:
#print(df["abtest"].unique())

#print(len(df[df["abtest"] == "test"]))
#print(len(df[df["abtest"] == "control"]))

In [29]:
import numpy as np

np.where?

In [31]:
df["monthOfRegistration"] = np.where(df["monthOfRegistration"] == 0, 6, df["monthOfRegistration"])

df["registration"] = df["yearOfRegistration"] + (df["monthOfRegistration"] - 1) / 12

df = df.drop(["yearOfRegistration", "monthOfRegistration"], axis = 1)
df.head()

,name,seller,offerType,price,vehicleType,gearbox,powerPS,model,kilometer,fuelType,brand,notRepairedDamage,registration
0,Golf_3_1.6,privat,Angebot,480,NaN,manuell,0,golf,150000,benzin,volkswagen,NaN,1993.416667
1,A5_Sportback_2.7_Tdi,privat,Angebot,18300,coupe,manuell,190,NaN,125000,diesel,audi,ja,2011.333333
2,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,suv,automatik,163,grand,125000,diesel,jeep,NaN,2004.583333
3,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,kleinwagen,manuell,75,golf,150000,benzin,volkswagen,nein,2001.416667
4,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,kleinwagen,manuell,69,fabia,90000,diesel,skoda,nein,2008.500000

In [8]:
# monthOfRegistration: 0, 1, 2, ..., 12

0