In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv("./classification.csv")
df["extra"] = np.random.normal(5, 16, len(df))

df.head()

         age   interest  success      extra
0  23.657801  18.859917      0.0  -4.082685
1  22.573729  17.969223      0.0   3.052317
2  32.553424  29.463651      0.0  -9.733851
3   6.718035  25.704665      1.0  32.460157
4  14.401919  16.770856      0.0   5.653538

In [14]:
df.cov()

                age    interest   success       extra
age       78.570491   27.806832  0.762027  -12.302928
interest  27.806832  482.085576  8.285170  -34.086548
success    0.762027    8.285170  0.246064   -0.114620
extra    -12.302928  -34.086548 -0.114620  276.491429

In [5]:
df.corr()

               age  interest   success     extra
age       1.000000  0.142876  0.173307 -0.083471
interest  0.142876  1.000000  0.760703 -0.093364
success   0.173307  0.760703  1.000000 -0.013896
extra    -0.083471 -0.093364 -0.013896  1.000000

In [7]:
x = [1, 2, 3, 4, 5, 6, 7]
y = [1, 1, 0, 0, 0, 1, 1]

In [8]:
np.cov(x, y)

array([[  4.66666667e+00,  -3.70074342e-17],
       [ -3.70074342e-17,   2.85714286e-01]])

In [12]:
np.corrcoef(x, y)

array([[  1.00000000e+00,  -3.20493781e-17],
       [ -3.20493781e-17,   1.00000000e+00]])