In [11]:
import pandas as pd

df = pd.read_csv("./classification.csv")

df.head()

         age   interest  success
0  23.657801  18.859917      0.0
1  22.573729  17.969223      0.0
2  32.553424  29.463651      0.0
3   6.718035  25.704665      1.0
4  14.401919  16.770856      0.0

In [16]:
df.sort_values("age").head()

          age   interest  success
137  2.347560  23.951544      0.0
172  4.951552  48.308651      1.0
163  5.753732  54.772789      1.0
198  5.861193  18.027871      0.0
155  6.654619  26.567869      0.0

In [17]:
df.sort_values("age", inplace = True)

In [19]:
df["new_column"] = "Hallo Welt"
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 297 entries, 137 to 134
Data columns (total 4 columns):
age           297 non-null float64
interest      297 non-null float64
success       297 non-null float64
new_column    297 non-null object
dtypes: float64(3), object(1)
memory usage: 11.6+ KB

In [21]:
df.describe()

              age    interest     success
count  297.000000  297.000000  297.000000
mean    23.709718   46.986527    0.569024
std      8.864000   21.956447    0.496049
min      2.347560   -0.852800    0.000000
25%     17.002148   28.689067    0.000000
50%     23.283644   45.695926    1.000000
75%     30.661149   65.171876    1.000000
max     45.773729   97.175508    1.000000