In [25]:
import pandas as pd

df = pd.read_csv("./hotels.csv")

df.head()

     Gewinn  Preis in Mio  Quadratmeter    Stadt
0  119000.0         21.88        3938.0   Berlin
1  250000.0         27.95        3986.0  München
2  250000.0         16.09        2574.0     Köln
3  145000.0         27.58        4155.0  München
4  110000.0         23.76        3795.0   Berlin

In [26]:
X = df[["Gewinn", "Quadratmeter"]].values
Y = df[["Preis in Mio"]].values

In [31]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold

import numpy as np

scores = cross_val_score(LinearRegression(), X, Y, cv = RepeatedKFold(n_repeats = 1000))

print(scores)
print(np.mean(scores))

[ 0.82566135  0.76228447  0.76087299 ...,  0.84547128  0.88539288
  0.84452174]
0.816624941884

In [29]:
# 0.816916728565